%div.side_bar
  %div.side_bar__head
    %ul
      %li.side_bar__head__user_name
        Kosaburo
      %li.side_bar__head__icon_setting
        =link_to 'https://qiita.com/trend', class: "side_bar__head__icon_setting", method: :get do
          =fa_icon "cog"
      %li.side_bar__head__icon_new_message
        =link_to 'https://qiita.com/trend', class: "side_bar__head__icon_new_message", method: :get do
          =fa_icon "edit"
  %div.side_bar__bottom
    %ul
      %li
        %p.side_bar_bottom__group_name
          グループ名１
        %p.side_bar_bottom__group_name__latest_message
          グループ１最新メッセージ
      %li
        %p.side_bar_bottom__group_name
          グループ名２
        %p.side_bar_bottom__group_name__latest_message
          グループ２最新メッセージ
      %li
        %p.side_bar_bottom__group_name
          グループ名３
        %p.side_bar_bottom__group_name__latest_message
          グループ３最新メッセージ

%div.main
  %div.main__head
    %div.main__head__group_name
      sampleグループ
    =link_to "Edit", root_path, class: "main__head__edit_button"
    %div.main__head__group_member
      member: kosaburo, masashi, kazuya, kenji
  %div.main__chat_space
    %ul
      %li.main__chat_space__user_name
        kosaburo
        %span.main__chat_space__created_at
          2016/10/02 06:27:07
      %li.main__chat_space__comment
        kosaburo's comment
      %li.main__chat_space__user_name
        masashi
        %span.main__chat_space__created_at
          2016/10/02 06:27:07
      %li.main__chat_space__comment
        masashi's comment
      %li.main__chat_space__user_name
        kazuya
        %span.main__chat_space__created_at
          2016/10/02 06:27:07
      %li.main__chat_space__comment
        kazuya's comment
  %div.main__footer
    %div.main__footer__form
      = form_for @message do |f|
        = f.text_field :message, class: 'main__footer__form__chat_input', placeholder: "Type a message"
        %div.main__footer__form__image_upload
          = f.label :image do
            = fa_icon "image"
            = f.file_field :image, style: "display: none;"
        = f.submit "Send"

        -# %form{:action => "/", :method => "post"}
        -# %input{:name => "message", :size => "40", :class => "main__footer__form__chat_input", :placeholder => "Type a message"}
        -#   %div.main__footer__form__image_upload
        -#     =link_to 'https://qiita.com/trend', class: "main__footer__form__image_upload", method: :get do
        -#       =fa_icon "image"
        -#   %div.main__footer__form__send_button
        -#     =link_to "Send", root_path, class: "main__footer__form__send_button"